.logo {
  --border-radius: var(--sds-size-radius-200);
  background-color: var(--sds-color-background-brand-default);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--sds-size-space-400);
  padding: var(--sds-size-space-100) var(--sds-size-space-200);
  position: relative;
  width: var(--logo-size);
  height: var(--logo-size);

  &[data-focus-visible] {
    outline: none;
    --offset: calc(var(--sds-size-stroke-border) * 2);
    &::before {
      content: "";
      border-radius: calc(var(--border-radius) + var(--offset));
      bottom: calc(-1 * var(--offset));
      box-shadow: 0 0 0 var(--global-focus-ring-size)
        var(--global-focus-ring-color);
      left: calc(-1 * var(--offset));
      position: absolute;
      right: calc(-1 * var(--offset));
      top: calc(-1 * var(--offset));
    }
  }
  > svg {
    --logo-color: var(--sds-color-text-brand-on-brand);
    height: auto;
    width: 100%;
  }
}

.logo-size-default {
  --logo-size: var(--sds-size-icon-medium);
}

.logo-size-sm {
  --logo-size: var(--sds-size-icon-small);
}
